/* styles.css */

html,
body{
    height: 100%;
}

img {
    max-width: 100%;
}



/* cover */
#cover  {
    background: rgb(66, 110, 230) url('./img/mmexport1514852056810.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}


#cover-caption{
    width: 100%;
}

#cover-caption p{
    font-size: 2rem;
}

.introduction{
    margin: 5rem 0;
}

.introduction h1{
    margin-bottom: 1rem;
}

.introduction p{
    font-size: 1.3rem;
}

.introduction img{
    margin-right: 1rem;
}

.introduction h4{
    font-size: 1.3rem;
}

.introduction h3{
    margin-bottom: 1rem;
}

#details{
    padding-top: 2rem;
}

#details .container p{
    font-size: 1.3rem;
}

.contents{
    padding-bottom: 5rem;
}

.links {
    padding-bottom: 5rem;
}

.skill-bars h1{
    padding-bottom: 3rem;
}

#projects p{
    font-size: 1.3rem;
}


#skills{
    padding-bottom: 5rem;
}


#connections{
    padding-bottom: 5rem;
}

#hobbies .row{
    margin-top: 3rem;
}

#footer-main{
    background: #222;
    color: white;
    font-size: 1.3rem;
    padding: 2.5rem 0;
    margin-top: 3rem;
}


#footer-main a{
    font-size: 1.3rem;
    text-decoration: none;
    color: silver;
}

#footer-main a:hover{
    color:white;
}   

#footer-main a:hover>span{
    background-color:white;
}   


.fa {
    border-radius: 1rem;
    padding: 1.25rem;
    margin: 0.5rem;
    background: silver;
    color: black;
    font-size: 1.875rem;
    width: 4.125rem;
    text-align: center;
    text-decoration: none;
}

.fa-gamepad{
    padding-left: 0.9rem;
}

.fa-music{
    padding-left: 1rem;
}

.fa-volleyball-ball{
    padding-left: 1.17rem;
}

.fa-dice{
    padding-left: 0.9rem;
}

.fa-swimmer{
    padding-left: 1rem;
}

.fa-futbol{
    padding-left: 1.17rem;
}

.fa-at{
    padding-left: 1.17rem;
}