/* styles.css */

html,
body{
    height: 100%;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}



/* cover */
#cover  {
    background: rgb(66, 110, 230) url('img/kimishima.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}


#cover-caption{
    width: 100%;
}


.introduction{
    padding: 5rem 0;
}

.introduction h1{
    padding-bottom: 1rem;
}

.introduction p{
    font-size: 1.3rem;
}

.introduction img{
    margin-right: 1rem;
}

.introduction h4{
    font-size: 1.3rem;
}


.contents{
    padding-bottom: 5rem;
}

.links {
    padding-bottom: 5rem;
}

.skill-bars h1{
    padding-bottom: 3rem;
}



#skills{
    padding-bottom: 5rem;
}
.fa {
    padding: 1.25rem;
    font-size: 1.875rem;
    width: 4.125rem;
    text-align: center;
    text-decoration: none;
}

.fa-github{
    background: rgb(0, 0, 0);
    color: white;
}

.fa-linkedin{
    background: rgb(0, 0, 0);
    color: white;
}

#connections{
    padding-bottom: 5rem;
}

#footer-main{
    background: #222;
    color: white;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
